*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#020817;
color:white;
overflow:hidden;
}

/* BACKGROUND */
.bg{
position:fixed;
width:100%;
height:100%;
background:
radial-gradient(circle at top,
#00ffee22,
transparent 60%);
z-index:-1;
}

/* DASHBOARD */
.dashboard{
display:flex;
height:90vh;
padding:10px;
gap:10px;
}

/* SIDEBAR */
.sidebar{
width:320px;
display:flex;
flex-direction:column;
gap:10px;
overflow:auto;
}

/* TITLE */
.titleBox h1{
font-size:32px;
color:#00ffee;
}

.titleBox p{
font-size:18px;
color:#ddd;
}

/* CARD */
.card{
background:#071427;
border:1px solid #00ffee33;
border-radius:16px;
padding:15px;
box-shadow:0 0 10px #00ffee11;
}

.card h2{
color:#00ffee;
margin-bottom:10px;
font-size:18px;
}

/* SPEED */
.speedValue{
text-align:center;
font-size:60px;
font-weight:bold;
color:#00ffee;
}

.speedValue small{
font-size:22px;
}

/* SAT */
.satBox{
display:flex;
align-items:center;
gap:15px;
}

.satIcon{
font-size:45px;
}

/* GPS */
.gpsRow{
margin-bottom:10px;
}

.gpsRow p{
color:#aaa;
font-size:12px;
}

.gpsRow h3{
font-size:22px;
color:#00ffee;
}

/* TIME */
.timeRow{
display:flex;
justify-content:space-between;
margin-bottom:10px;
}

.timeRow h3{
color:#00ffee;
font-size:22px;
}

/* BUTTON */
.buttonGroup{
display:flex;
gap:10px;
}

button{
flex:1;
padding:12px;
border:none;
border-radius:10px;
font-size:14px;
font-weight:bold;
cursor:pointer;
}

.startBtn{
background:#13c000;
color:white;
}

.stopBtn{
background:#ffaa00;
color:white;
}

.resetBtn{
background:#ff0000;
color:white;
}

/* MAP */
.mapSection{
flex:1;
position:relative;
height:100%;
}

#map{
width:100%;
height:100%;
border-radius:20px;
overflow:hidden;
}

/* STATUS */
.topStatus{
position:absolute;
top:10px;
right:10px;
display:flex;
gap:10px;
z-index:1000;
}

.statusBox{
background:#071427dd;
padding:12px;
border-radius:12px;
border:1px solid #00ffee33;
text-align:center;
min-width:130px;
font-size:12px;
}

.statusBox h2{
margin-top:5px;
font-size:18px;
color:#00ff66;
}

/* ROUTE */
.routeBox{
position:absolute;
bottom:15px;
right:15px;
background:#071427dd;
padding:10px 20px;
border-radius:12px;
display:flex;
align-items:center;
gap:10px;
z-index:1000;
font-size:14px;
}

.line{
width:40px;
height:4px;
background:#00ffee;
border-radius:10px;
}

/* FOOTER */
.footer{
height:5vh;
display:flex;
justify-content:space-between;
align-items:center;
padding:0 15px;
background:#071427;
border-top:1px solid #00ffee22;
color:#00ffee;
font-size:12px;
}

/* MOBILE */
@media(max-width:900px){

.dashboard{
flex-direction:column;
overflow:auto;
}

.sidebar{
width:100%;
}

#map{
height:500px;
}

}
